<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Dummy Wallet</title>
</head>
<body>
<h1>A Identity Python based Dummy Wallet</h1>
<form action="f2_wallet_provider" method="get">
  <h2>Start collecting the Wallet Instance Attestation from the Wallet Provider</h2>
  <h3>Please enter the Entity identifier of the Wallet Provider:</h3>
  <input type="text" id="entity_id" name="entity_id" class="form-control" placeholder="EID"
         autofocus>
  <button type="submit">Start</button>
</form>
</body>
</html>

